{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure       {:mvn/version "1.10.3"}
  org.clojure/tools.logging {:mvn/version "1.1.0"}
  http-kit/http-kit         {:mvn/version "2.3.0"}
  metosin/reitit            {:mvn/version "0.5.15"}
  mount/mount               {:mvn/version "0.1.16"}
  ring/ring-defaults        {:mvn/version "0.3.3"}
  yogthos/config            {:mvn/version "1.1.9"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.60.972"}}}

  :repl
  {:extra-deps {nrepl/nrepl         {:mvn/version "0.8.3"}
                clj-kondo/clj-kondo {:mvn/version "2021.06.01"}
                cider/cider-nrepl   {:mvn/version "0.26.0"}}
   :main-opts ["-m" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware]"]}}}
